# Ignore non-build related directories
/doc/
/sample/
/vstudio/
/.*/

#prebuilds
/lib/
/out/
/bin/
# Ignore non-build related files
.*
.DS_Store
/*.bat
/changelog.txt
/COPYING.RUNTIME
/Dockerfile
/license.txt
/readme.md
