*.VC.opendb
*.VC.db
*.log
*.obj
*.tlog
*.suo
*.iobj
*.ipdb
*.pdb
*.o
*.out
*.layout
rom_head.bin
vstudio/appack/Debug
vstudio/appack/Release
vstudio/libmd/Debug
vstudio/libmd/Release
vstudio/rescomp/Debug
vstudio/rescomp/Release
out.lst
obj/*
src/z80_*.s
res/libres.s
archive/*
cb/*
doc/*
emu/*