*.VC.opendb
*.VC.db
*.log
*.obj
*.tlog
*.suo
*.iobj
*.ipdb
*.pdb
*.o
*.out
*.layout
rom_head.bin
vstudio/appack/Debug
vstudio/appack/Release
vstudio/libmd/Debug
vstudio/libmd/Release
vstudio/rescomp/Debug
vstudio/rescomp/Release
out.lst
obj/*
src/z80_*.s
res/libres.s
archive/*
cb/*
doc/*
emu/*
tools/video/*
tools/audio/*
tools/sgcutl10.zip
sample/astrofra/starfield_donut/res/*.h
sample/bench/res/*.h
sample/xgmplayer/res/*.h
sample/sprite/res/*.h
sample/sound/res/*.h
sample/sound/src/boot/*
sample/bench/src/boot/*
tools/genesis_tools.workspace
tools/gincs_v0.01.zip
tools/rescomp/out/*
!tools/rescomp/out/rom.bin
tools/xgmtool/out/*
!tools/xgmtool/out/rom.bin
