<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.sgdk.resourcemanager.ui.panels.console">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class.%M:%L - %msg%n" />
		</Console>
		<JTextAreaAppender name="jtextarea-log" maxLines="100">
			<PatternLayout
				pattern="%d{HH:mm:ss} %-5level %msg%n" />
		</JTextAreaAppender>
	</Appenders>
	<Loggers>
		<Logger name="UILogger" level="debug" additivity="false">
            <appender-ref ref="jtextarea-log" level="debug"/>
            <appender-ref ref="Console" level="debug"/>
        </Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>	
	</Loggers>
</Configuration>